<h1><%= @user.username %></h1>

  <% if @user.avatar_file_name %>
    <%= image_tag @user.avatar.url %>
  <% end %>

<h4>Upload an Avatar</h4>
<%= form_for @user, :url => dashboard_path(@user.id), :html => { :multipart => true } do |form| %>
  <%= form.file_field :avatar %>
  <%= form.submit "Submit" %>
<% end %>
