<h1><%= @user.username %>'s photos</h1>

<%= link_to 'Add Image', new_image_path %>
<br>
<% if @images.any? %>
  <% @images.each do |image| %>
    <div class="col-md-6">
      <% if image.user_id === current_user.id %>
        <%= image_tag image.attached_image.url(:medium) %>
        <br>
        <%= link_to image.image_caption, edit_image_path(image) %>
        <br>
        <%= link_to 'X', image_path(image), data: { confirm: "Are you sure?", method: "delete"} %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <p>There are no images.</p>
<% end %>
